---
layout: layouts/base.njk
---

<article class="container container--narrow">
  <header class="page-header">
    <h1 class="page-header__title">{{ title }}</h1>
    <p class="page-header__description">
      <time datetime="{{ date | date('yyyy-MM-dd') }}">{{ date | date("MMMM d, yyyy") }}</time>
    </p>
  </header>

  <div class="section prose">
    {{ content | safe }}
  </div>
</article>
