<a href="{{ cardUrl }}" class="card">
  {% if cardLabel %}<span class="card__label">{{ cardLabel }}</span>{% endif %}
  <h3 class="card__title">{{ cardTitle }}</h3>
  <p class="card__text">{{ cardText }}</p>
  <span class="card__link">View &rarr;</span>
</a>
