<footer class="site-footer">
  <div class="container site-footer__inner">
    <span>&copy; {{ "" | year }} {{ site.shortTitle }}</span>
    <div class="site-footer__links">
      <a href="/assets/yglaser_cv_current.pdf" class="site-footer__link" target="_blank" rel="noopener">CV</a>
      <a href="https://linkedin.com/in/yannikglaser" class="site-footer__link" target="_blank" rel="noopener">Contact</a>
    </div>
  </div>
</footer>
